@media (max-width: 767px) {
    /* ========== Estilos gerais ========== */
    .container {
        width: 100%;
    }
    .wer-home .content {
        align-items: start;
    }
    .wer-body {
        background-image: url("../img/wer_background-M.jpg");
        background-repeat: repeat-y;
        background-size: cover;
    }
    .wer-main section .container,
    #cta {
        width: 100%;
        padding: var(--size-6xl) var(--size-3xl);
    }
    .wer-main section .main-content {
        margin: 0;
    }
    .wer-main .title {
        width: fit-content;
        max-width: 100%;
    }
    .wer-main .subtitle {
        font-size: var(--font-size-3xl);
    }
    .wer-main .subtitle--big {
        font-size: var(--font-size-xl);
    }
    .wer-main .slick-arrow {
        opacity: 0;
        visibility: hidden;
        cursor: none;
    }
    .wer-home .title,
    .wer-home .subtitle,
    .wer-home .description {
        text-align: left;
    }
    section::before,
    section::after {
        width: 50vw;
        height: 50vw;
        display: none;
    }
    section::before {
        left: -50vw;
    }
    section::after {
        right: -50vw;
    }
    section:nth-child(1)::before {
        box-shadow: 30vw var(--size-6xl) var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(1)::after {
        box-shadow: -30vw 30rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(2)::before {
        box-shadow: 30vw 100rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(2)::after {
        box-shadow: -30vw 80rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(3)::before {
        box-shadow: 30vw 170rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(3)::after {
        box-shadow: -30vw 140rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(4)::before {
        box-shadow: 30vw 240rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(4)::after {
        box-shadow: -30vw 210rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(5)::before {
        box-shadow: 30vw 300rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(5)::after {
        box-shadow: -30vw 280rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(6)::before {
        box-shadow: 30vw 360rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(6)::after {
        box-shadow: -30vw 330rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(7)::before {
        box-shadow: 30vw 420rem var(--size-9xl) var(--color-blue-1);
    }
    section:nth-child(7)::after {
        box-shadow: -30vw 390rem var(--size-9xl) var(--color-blue-1);
    }
    /* ========== Header ========== */
    .header {
        background: var(--color-black-transparency);
    }
    .header__container {
        width: 100vw;
        margin: 0;
        padding: var(--size-xxs);
        align-items: center;
        transition: var(--transition);
    }
    .header__container:has(.header__links.active) {
        background: var(--color-black-transparency-2);
        box-shadow: 0 0 100vh 80vh black;
    }
    .header__container.is-fixed {
        width: 100vw;
        padding: var(--size-xxs);
        background: var(--color-black-transparency);
        box-shadow: 0px 2px 20px 2px var(--color-black);
    }
    .header__logo-link svg {
        height: var(--size-5xl);
        width: var(--size-9xl);
    }
    .header__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--size-3xl);
        width: 0;
        height: 100vh;
        position: absolute;
        top: var(--size-6xl);
        right: 0;
        transition: 0.6s;
        z-index: 11;
        background: var(--color-black);
        opacity: 0;
        visibility: hidden;
        overflow-y: hidden;
        pointer-events: none;
    }
    .header__links.active {
        width: 100vw;
        height: auto;
        padding: 0 0 var(--size-3xl);
        gap: 0;
        opacity: 1;
        visibility: visible;
        overflow-y: auto;
        pointer-events: all;
        background: var(--secondary-color);
        box-shadow: inset -200px 0 200px 60px var(--color-black);
    }
    .header__menu--btn {
        display: flex;
        position: absolute;
        right: 1.875rem;
    }
    .header__menu {
        width: 100%;
        transition: var(--transition);
    }
    #menu-menu-principal {
        flex-direction: column;
        gap: 0;
        max-width: 100%;
        padding: var(--size-base) 0;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
    #menu-menu-principal .menu-item {
        right: 0;
    }
    #menu-menu-principal .menu-item a {
        display: block;
        padding: var(--size-base);
        width: 100vw;
    }
    #menu-menu-principal .menu-item a.close::after {
        top: 40%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
    }
    #menu-menu-principal .menu-item a.open::after {
        top: 45%;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
    }
    #menu-menu-principal .menu-item#menu-item-58 a::after {
        left: 12ch;
    }
    #menu-menu-principal .menu-item#menu-item-52 a::after {
        left: 11ch;
    }
    #menu-menu-principal .menu-item#menu-item-56 a::after {
        left: 24ch;
    }
    #menu-menu-principal .menu-item.menu-item-has-children > a {
        position: relative;
    }
    #menu-menu-principal .menu-item.menu-item-has-children .sub-menu {
        display: block;
        padding: 0 var(--size-base);
        background: #eff2fe;
        max-height: 0;
        overflow: hidden;
        list-style: none;
    }
    #menu-menu-principal .menu-item.menu-item-has-children .sub-menu.show,
    #menu-menu-principal .menu-item.menu-item-has-children .sub-menu.hide {
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -o-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    #menu-menu-principal .menu-item.menu-item-has-children .sub-menu.show {
        max-height: 9999px;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }
    #menu-menu-principal .menu-item.menu-item-has-children .sub-menu.hide {
        max-height: 0;
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }
    .header__cta {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .header__cta--btn {
        width: 100%;
        margin: 0 0.9rem;
    }
    /* ========== Footer ========== */
    footer {
        width: 100%;
        padding: 0 var(--size-3xl);
    }
    .footer__container {
        flex-direction: column;
        align-items: start;
        gap: var(--size-3xl);
        width: 100%;
    }
    .footer__content.display-grid {
        grid-template-columns: 1fr;
    }
    .footer__content--end {
        padding-top: var(--size-base);
        align-self: center;
    }
    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__links--desktop {
        display: none;
    }
    .footer__links--mobile {
        display: flex;
    }
    .footer__links-item {
        flex: auto;
        width: 100%;
    }
    .footer__links--list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer__rightReserved--text {
        display: block;
        text-align: center;
    }
    /* ========== Call to Action ========== */
    #cta .title {
        width: fit-content;
        max-width: 100%;
    }
    #cta .subtitle {
        font-size: var(--font-size-3xl);
    }
    #cta .subtitle--big {
        font-size: var(--font-size-xl);
    }
    #cta .cta__container {
        grid-template-columns: 1fr;
        min-height: 21.5rem;
        padding: var(--size-3xl);
        margin-bottom: var(--size-5xl);
    }
    #cta .cta__subtitle.subtitle {
        margin-bottom: var(--size-base);
    }
    /* ========== Páginas ========== */
    .wer-home .home-main .home-main--container {
        top: -5.2rem;
    }
    .wer-home .home-main--content {
        max-width: 100%;
        align-items: center;
    }
    .wer-home .home-main--title,
    .wer-home .home-main--subtitle,
    .wer-home .home-main--description {
        text-align: center;
    }
    .wer-home .home-about-us__container {
        width: 100%;
        padding: 0 var(--size-base);
        margin-bottom: var(--size-5xl);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: var(--size-base);
    }
    .wer-home .home-about-us__content {
        grid-row: 1;
        padding: 0;
    }
    .wer-home .home-about-us__image {
        display: none;
    }
    .wer-home .home-about-us__content .home-about-us__image {
        display: block;
    }
    .home-about-us__link-list {
        flex-direction: column;
        width: 100%;
    }
    .home-about-us__link {
        width: 100%;
        text-align: center;
    }

    .wer-home .home-services__container {
        width: 100%;
        padding: 0 var(--size-base) 0;
        margin-bottom: var(--size-5xl);
        align-items: flex-start;
    }
    .wer-home .home-services__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 2.5rem;
    }
    .wer-home .home-donation__container {
        width: 100%;
        padding: var(--size-5xl) var(--size-base) 10rem;
        margin-bottom: var(--size-5xl);
    }
    .wer-home .home-employees__container {
        width: 100%;
    }
    .wer-home .home-employees__container .slick-slide {
        margin: 0 var(--size-xxs);
    }
    .wer-home .home-security__container {
        grid-template-columns: 1fr;
    }
    .wer-home .home-security__image {
        margin: 0;
    }
    .wer-home .home-security__image {
        margin: 0;
    }
    .wer-home .home-whyus__container {
        width: 100%;
        padding: var(--size-5xl) var(--size-base);
        margin-bottom: var(--size-5xl);
        align-items: flex-start;
    }
    .wer-about .container {
        width: 90vw;
        margin: 2.5rem auto;
    }
    .wer-about .about-mission__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-gap: 3rem;
    }
    .wer-about .about-team__item {
        padding: var(--size-base);
    }
    .wer-about .about-team__list {
        grid-template-columns: 1fr;
    }
    .wer-services .container {
        width: 90vw;
        margin: 2.5rem auto;
    }
    .wer-contact .container {
        width: 90vw;
        margin: 2.5rem auto;
    }
    .wer-contact .faq__container,
    .contact .contact__container {
        grid-template-columns: 1fr;
    }
    .wer-contact .faq__item.display-flex {
        padding: 0;
    }
    .wer-contact .faq__question {
        font-size: var(--font-size-base);
    }
    .contact .contact-form {
        grid-template-columns: 1fr;
    }
    .contact .contact__link {
        padding: var(--size-base);
    }
    .blog-posts__list {
        grid-template-columns: 1fr;
        padding-bottom: var(--size-base);
    }
    .wer-main .related-posts__container.container {
        padding: var(--size-5xl) 0;
        margin: 0 var(--size-3xl);
        width: calc(100% - var(--size-5xl));
    }
}
@media (min-width: 768px) {
    #menu-menu-principal .menu-item a:is(:hover, :focus, :focus-visible) {
        transform: scale(1.03);
    }
    #menu-menu-principal .menu-item .sub-menu {
        position: absolute;
        left: var(--size-base);
        top: 3rem;
        z-index: 11;
        width: auto;
        min-height: 5.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--color-white);
        transition: var(--transition);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    #menu-menu-principal .menu-item .sub-menu .menu-item a {
        padding: 0.75rem var(--font-size-xl) var(--size-base);
        min-width: 9rem;
        width: 100%;
    }
    #menu-menu-principal
        .menu-item
        .sub-menu
        .menu-item
        a:is(:hover, :focus, :focus-visible) {
        background: #eff2fe;
    }
    #menu-menu-principal
        .menu-item:is(:hover, :focus, :focus-visible)
        .sub-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    #menu-menu-principal
        .menu-item.menu-item-has-children:is(:hover, :focus, :focus-visible)
        > a::after {
        transform: rotate(-135deg);
        top: 45%;
    }
    .cta .subtitle--giant,
    .wer-main .subtitle--giant {
        font-size: var(--size-5xl);
    }
    .wer-main .main-content.grid__container {
        grid-template-columns: 55% auto;
        margin: 2.5rem auto;
    }
    .wer-services .services-main__content.grid__container {
        grid-template-columns: 2fr 1.5fr;
    }
    .wer-home .home-employees__container .slick-slide {
        margin: 0 var(--size-3xl);
    }
    .wer-home .home-services__list {
        grid-template-columns: repeat(19, 1fr);
        gap: var(--size-3xl);
    }
    .wer-home .home-services__item:nth-child(1),
    .wer-home .home-services__item:nth-child(4) {
        grid-column: span 10;
    }
    .wer-home .home-services__item:nth-child(2),
    .wer-home .home-services__item:nth-child(3) {
        grid-column: span 9;
    }
}
@media (min-width: 1920px) {
    .cta .subtitle--giant,
    .wer-main .subtitle--giant {
        font-size: 4vw;
    }
    .footer__socials--item img {
        width: 2vw;
    }
    .footer__content--end {
        bottom: -3vw;
    }

    section::before,
    section::after {
        width: 30vw;
        height: 30vw;
    }

    section::before {
        left: -45vw;
        animation-delay: 0s;
    }

    section::after {
        right: -45vw;
        animation-delay: 0.5s; /* Adiciona um pequeno atraso */
    }

    /* Define animações de movimento lateral */
    @keyframes moveSideToSide {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(10vw);
        }
        100% {
            transform: translateX(0);
        }
    }

    /* Configura sombras específicas para cada section usando nth-child */
    section:nth-child(1)::before {
        box-shadow: 30vw -30vh 7.5vw var(--secondary-color);
    }
    section:nth-child(1)::after {
        box-shadow: -30vw 30vh 7.5vw var(--secondary-color);
    }

    section:nth-child(2)::before {
        box-shadow: 30vw 90vh 7.5vw var(--secondary-color);
    }
    section:nth-child(2)::after {
        box-shadow: -30vw 150vh 7.5vw var(--secondary-color);
    }

    section:nth-child(3)::before {
        box-shadow: 30vw 210vh 7.5vw var(--secondary-color);
    }
    section:nth-child(3)::after {
        box-shadow: -30vw 270vh 7.5vw var(--secondary-color);
    }

    section:nth-child(4)::before {
        box-shadow: 30vw 320vh 7.5vw var(--secondary-color);
    }
    section:nth-child(4)::after {
        box-shadow: -30vw 380vh 7.5vw var(--secondary-color);
    }

    section:nth-child(5)::before {
        box-shadow: 30vw 440vh 7.5vw var(--secondary-color);
    }
    section:nth-child(5)::after {
        box-shadow: -30vw 500vh 7.5vw var(--secondary-color);
    }

    section:nth-child(6)::before {
        box-shadow: 30vw 560vh 7.5vw var(--secondary-color);
    }
    section:nth-child(6)::after {
        box-shadow: -30vw 620vh 7.5vw var(--secondary-color);
    }

    section:nth-child(7)::before {
        box-shadow: 30vw 720vh 7.5vw var(--secondary-color);
    }
    section:nth-child(7)::after {
        box-shadow: -30vw 780vh 7.5vw var(--secondary-color);
    }

    section:nth-child(8)::before {
        box-shadow: 30vw 840vh 7.5vw var(--secondary-color);
    }
    section:nth-child(8)::after {
        box-shadow: -30vw 900vh 7.5vw var(--secondary-color);
    }
}
